# dependencies
/node_modules

# next.js
/.next/
/out/
/.next/cache

# production
/build

# testing
/coverage

# misc
.DS_Store
Thumbs.db
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/
.idea/